.scu .dialog-buttons {
  max-height: 40px;
}

.scu .description {
  max-height: 20px;
}

.scu .dialog-buttons button {
  margin-top: 5px;
  max-width: 200px;
}

.scu .item-list .item.prepared {
  font-size: large;
  margin-left: 12px;
}

.scu .spell-uses {
  text-align: center;
}

.scu .item-list .item.prepared .spell-uses {
  font-size: large;
}

.scu .item-list .item .item-attack {
  margin-left: 3px;
}

.scu .sep {
  padding: 0px 5px;
}