.scu .dialog-buttons {
  max-height: 40px;
}

.scu .dialog-buttons button {
  max-width: 200px;
}

.pf1.sheet.actor .inventory-list .item.prepared {
  font-size: large;
  margin-left: 12px;
}

.pf1.sheet.actor .inventory-list .item.prepared .spell-uses {
  font-size: large;
}
