<form class="{{cssClass}}" autocomplete="off">
{{#if errorMsg}}
  <div class="error">{{errorMsg}}</div>
{{/if}}
{{#unless errorMsg}}
<div class="tab spellbook-group flexcol active" data-group="spells_primary" data-tab="spells_primary_0">
  <div class="description">{{localize "scu.castDescription"}}</div>
  <ol class="item-list scroll scroll-spells_primary">
    {{#each levels as |level sid|}}
    <li class="flexrow item-list-header spellbook-header">
      <div class="item-name flexrow">
        <h3>{{localize level.localize}}</h3>
      </div>
      
      <div class="item-detail spell-uses">
        {{#if level.remaining}}
        <div data-tooltip="{{ localize 'PF1.Prepared' }}">
          <span>{{ level.remaining }}</span>
        </div>
        <span class="sep"> / </span>
        <div data-tooltip="{{ localize 'PF1.SpellsTotalEachDay' }}">
          <span>{{ level.max }}</span>
        </div>
        {{/if}}
      </div>
      <div class="item-detail spell-school"><i class="icon icon-spell-book large" title="École du sort"></i></div>
      <div class="item-controls">{{localize "scu.actions"}}</div>
      
    </li>
    <ol class="item-list">
      {{#each level.spells as |spell sid|}}
      <li class="item flexrow {{spell.prepared}}" data-item-id="{{spell._id}}">
        <div class="item-name flexrow">
          <div class="item-image" style="background-image: url({{spell.img}})"></div>
          <h4>{{spell.name}}</h4>
        </div>
        
        <div class="item-detail spell-uses flexrow">
          {{#if ../../spontaneous}}
            <div class="tooltip">
              {{#if spell.system.preparation.spontaneousPrepared}}
                <div data-tooltip="{{ localize 'PF1.Prepared' }}">
                  <span><i class="fas fa-check"></i></span>
                </div>  
              {{/if}}
              {{#unless spell.system.preparation.spontaneousPrepared}}
                <div data-tooltip="{{ localize 'PF1.Unprepared' }}">
                  <span>&nbsp;</span>
                </div>  
              {{/unless}}
            </div>
          {{/if}}
          {{#unless ../../spontaneous}}
            <div data-tooltip="{{ localize 'PF1.Prepared' }}">
              <span>{{spell.system.preparation.value}}</span>
            </div>  
          {{/unless}}
        </div>
        <div class="item-detail spell-school"><span>{{ spell.system.school }}</span></div>
        <div class="item-controls">
          <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
        </div> 
      </li>
      {{/each}}
    </ol>
  {{/each}}
  </ol>
</div>
{{/unless}}
</form>
