<form class="{{cssClass}}" autocomplete="off">
{{#if errorMsg}}
  <div class="error">{{errorMsg}}</div>
{{/if}}
{{#unless errorMsg}}
<div class="tab spellbook-group flexcol active" data-group="spells_primary" data-tab="spells_primary_0">
  <div class="description">{{localize "scu.prepareDescription"}}</div>
  <ol class="inventory-list scroll scroll-spells_primary">
    {{#each levels as |level sid|}}
    <li class="flexrow inventory-header spellbook-header">
      <div class="item-name flexrow">
        <h3>{{localize level.localize}}</h3>
      </div>
      
      <div class="item-detail spell-uses">
        <div class="tooltip">
          <span class="tooltipcontent">{{ localize "PF1.Prepared" }}</span> 
          {{ level.prepared }}
        </div>
        {{#unless ../spontaneous}}
        <span class="sep"> / </span>
        <div class="tooltip">
          <span class="tooltipcontent">{{localize "PF1.SpellsTotalEachDay"}}</span> 
          {{ level.max }}
        </div>
        {{/unless}}
      </div>
      <div class="item-detail spell-school"><i class="icon icon-spell-book large" title="École du sort"></i></div>
      <div class="item-controls">{{localize "scu.actions"}}</div>
      
    </li>
    <ol class="item-list">
      {{#each level.spells as |spell sid|}}
      <li class="item flexrow {{spell.prepared}}" data-item-id="{{spell._id}}">
        <div class="item-name flexrow">
          <div class="item-image" style="background-image: url({{spell.img}})"></div>
          <h4 class="name">{{spell.name}}</h4>
        </div>
        
        <div class="item-detail spell-uses flexrow">
          {{#if ../../spontaneous}}
            <div class="tooltip">
              {{#if spell.data.preparation.spontaneousPrepared}}
                <span class="tooltipcontent">{{ localize "PF1.Prepared" }}</span> <i class="fas fa-check"></i>
              {{/if}}
              {{#unless spell.data.preparation.spontaneousPrepared}}
                <span class="tooltipcontent">{{ localize "PF1.Unprepared" }}</span> 
              {{/unless}}
            </div>
          {{/if}}
          {{#unless ../../spontaneous}}
            <div class="tooltip">
              <span class="tooltipcontent">{{ localize "PF1.Prepared" }}</span> {{spell.data.preparation.preparedAmount}}
            </div>
          {{/unless}}
        </div>
        <div class="item-detail spell-school"><span>{{ spell.data.school }}</span></div>
        <div class="item-controls">
        {{#unless ../../spontaneous}}
          <a class="item-control spell-uses-add" title="{{ localize "scu.preparedAdd" }}"><i class="fas fa-plus"></i></a>
          <a class="item-control spell-uses-sub" title="{{ localize "scu.preparedSub" }}"><i class="fas fa-minus"></i></a>
        {{/unless}}
        {{#if../../spontaneous}}
          <a class="item-control spell-uses-add" title="{{ localize "scu.preparedAdd" }}"><i class="fas fa-check"></i></a>
          <a class="item-control spell-uses-sub" title="{{ localize "scu.preparedSub" }}"><i class="fas fa-times"></i></a>
        {{/if}}
        </div> 
      </li>
      {{/each}}
    </ol>
  {{/each}}
  </ol>
  <div class="dialog-buttons">
    <button type="button" name="clear">{{ localize "scu.clearPreparation" }}</button>
    <button type="button" name="apply">{{ localize "scu.applyChanges" }}</button>
  </div>
</div>
{{/unless}}
</form>
